<html>
	<head>
		<title>Webix Node JS (Express) - samples</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/styles.css">

		<script type="text/javascript" src="//cdn.webix.com/edge/webix.js"></script>
		<link rel="stylesheet" type="text/css" href="//cdn.webix.com/edge/webix.css">
	</head>
	<body>
		<h1 class='header'>
			<a href="<?php echo $root; ?>">
			<div class="webix-logo"></div>
			NodeJs (Express) Samples
			<a class='docs' href='https://docs.webix.com/desktop__basic_tasks.html'>Go to docs</span>
			</a>
		</h1>
		<div class='mainarea'>
			<ul class='left'>

<li><span>Data Table</span><ul>
	<li class='$css'><a href='/grid'>Loading and Saving</a></li>
	<li class='$css'><a href='/grid-dynamic'>Dynamic Loading</a></li>
	<li class='$css'><a href='/grid-paging'>Paging</a></li>
	<li class='$css'><a href='/grid-server'>Server side filtering and sorting</a></li>
	<li class='$css'><a href='/grid-select'>Select editors in datatable</a></li>
</ul></li>

<li><span>Tree</span><ul>
<li class='$css'><a href='/tree'>Data Loading</a></li>
</ul></li>

<li><span>Form</span><ul>
	<li class='$css'><a href='/form'>Loading and Saving</a></li>
	<li class='$css'><a href='/form-uploading'>File Uploading</a></li>	
</ul></li>
	

			{{{menu}}}
			</ul>
			<content class="right">{{{body}}}</content>
		</div>
	</body>
</html>